#elcipse temporary files
.metadata/
.metadata/
.project
*~
*.swp
.pydevproject
*.pyc

logs/
A1_notmnistdataset/notMNIST_large/
A1_notmnistdataset/notMNIST_small/
*.gz
*.pickle
*.zip
models/
